<div class="col-12 d-flex flex-column justify-content-between">

    <h1 class="text-start display-6 fw-bold text-uppercase">Minust</h1>

    <div class="rounded bg-second">
        <p class="fs-5 p-2">
            Lõpetasin Tartu Rakendusliku Kolledži tarkvaraarendaja erialal (4 aastat põhikooli baasil) ja
            sooritasin praktika Diara Infra OÜ-s, kus osalesin mitmes tarkvaraarendusprojektis.
            Olen full-stack tarkvaraarendaja ja tehnikahuviline. Olen ehitanud veebirakendusi ja rakendusi
            ning tegelen vabal ajal self-hostimise projektidega.
        </p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Töökogemus ja praktika</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">
            <span class="fw-bold">tutvumispraktika Diara Infra OÜ</span> 14.08.2023 – 22.10.2023<br>
            Tarkvaraarendaja<br>
        </p>
        <p class="fs-5 p-2">
            <span class="fw-bold">praktika Diara Infra OÜ</span> 20.11.2023 - 26.04.2024<br>
            Tarkvaraarendaja
        </p>
    </div>


    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Haridus</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">
            <span class="fw-bold">Tartu Rakenduslik Kolledž</span> 2019 – 2024<br>
            IT akadeemia tarkvaraarendaja<br>
            Lõputööks webuyanycarflorida.com veebiportaal<br>
        </p>
        <p class="fs-5 p-2">
            <span class="fw-bold">Tartu Mart Reiniku Kool</span> 2010 – 2019<br>
            Põhikool
        </p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Litsentsid ja tunnistused</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2 fw-bold">
            CAE Cambridge Assessment: English, Certificate in Advanced English, C1 2022<br>
            BCS Koolitus: Kutsetunnistus Noorem tarkvaraarendaja, tase 4, 2024
        </p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Keeled</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">
            <span class="fw-bold">eesti keel</span>: emakeel<br>
            <span class="fw-bold">inglise keel</span>: C1 - vilunud keelekasutaja tase<br>
            <span class="fw-bold">saksa keel</span>: A2 - algtase<br>
            <span class="fw-bold">vene keel</span>: A1 - algtase<br>
            <span class="fw-bold">soome keel</span>: A1 - algtase<br>
        </p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Vabal ajal</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">
            Tegelen vabal ajal veebirakenduste arendamisega, skriptide kirjutamisega,
            self-hosting projektidega enda riistvaral, uute tehnoloogiate õppimisega.
        </p>
    </div>

</div>