<div class="row align-middle">
    <div class="d-flex flex-column justify-content-evenly">
        <div class="pb-4">
            <h1 class="text-start">Olen</h1>
            <h1 class="text-start display-3 fw-bold">Mihkel Kougia,</h1>
            <h1 class="text-start">tarkvaraarendaja ja tehnikahuviline</h1>
        </div>
    </div>
</div>

<div class="col-12 d-flex flex-column justify-content-between">

    <h2 class="text-start display-7 mt-4">
        Lõpetasin Tartu Rakendusliku Kolledži tarkvaraarendaja erialal (4 aastat põhikooli baasil) ja
        sooritasin praktika Diara Infra OÜ-s, kus osalesin mitmes tarkvaraarendusprojektis.
        Olen full-stack tarkvaraarendaja ja tehnikahuviline. Olen ehitanud veebirakendusi ja rakendusi ning
        tegelen vabal ajal self-hostimise projektidega.
    </h2>

</div>