<div class="col-12 d-flex flex-column justify-content-between">

    <h1 class="text-start display-6 fw-bold text-uppercase">Tehnilised oskused</h1>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Veebiserverid ja hostimine</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">Apache, Nginx, WordPress, Drupal</p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Pilveteenused ja virtualiseerimine</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">Microsoft Azure Cloud, Hetzner, Docker, Docker-compose, Proxmox</p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Andmebaasid ja andmebaasi tööriistad</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">MySQL, MSSQL, PostgreSQL, Oracle SQL, Prisma ORM</p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Operatsioonisüsteemid</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">
            - Linux (Alpine, Fedora, Ubuntu ja teised Debian'il põhinevad süsteemid)<br>
            - Windows (10, 11, Server)<br>
            - MacOS
        </p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Programmeerimis- ja skriptimiskeeled</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">Python, Java, JavaScript, TypeScript, PHP, Lua, Batch, PowerShell, Bash</p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Veebiarendus ja front-end raamistikud</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">HTML, CSS, React.js, Node.js, Bootstrap, Vue.js, Fomantic-UI, jQuery</p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Analüütika ja testimine</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">AB testimine kasutades Google Analytics, Cypress</p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Versioonihaldus ja koostöö</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">Git, Github, Bitbucket</p>
    </div>

    <h2 class="text-start display-7 fw-bold text-uppercase mt-4">Raamistikud ja tööriistad (muud)</h2>
    <div class="rounded bg-second">
        <p class="fs-5 p-2">JavaFX, Swagger</p>
    </div>

</div>