body {
    height: 100%;
    margin: 0;
    background-color: #1d1f20;
    color: #aaacb1;
    background-repeat: no-repeat;
    background-size: cover;
}

/*body {
    background-color: #14182b;
    color: #ae3d38;*
}*/

a {
    text-decoration: none;
}

.navbar-main {
    padding-right: 1.5rem;
}

.navbar {
    padding-bottom: 0rem;
}

.navbar-brand:hover {
    color: #aaacb1;
}

img.main {
    max-width: 100%;
    height: auto;
}

.bg-row {
    background-color: #374277
}

.vl {
    border-right: 6px solid #ae3d38;
    height: 100%;
}

.first-color {
    background: #1d1f20;
}

.second-color {
    background: #222426;
}

.third-color {
    background: #303436;
}

.fourth-color {
    color: #aaacb1;
}

.project-card:hover {
    color: white;
    background-color: #44484c !important; /* Change background color on hover */
    transform: scale(1.05) !important; /* Slightly enlarge the card */
    transition: transform 0.3s ease, background-color 0.3s ease !important; /* Smooth transition */
    cursor: pointer; /* Change the cursor to a pointer */
}

.project-card:active {
    color: black;
    background-color: white;
}

/* Starting point */
.my-animated-modal .modal-dialog {
    transform: scale(0.1);
    transition: transform 0.6s ease, transform-origin 0.3s ease;
}

/* Ending point */
.my-animated-modal.show .modal-dialog {
    transform: scale(1);
}

/* Closing state (applies when hiding the modal) */
.my-animated-modal:not(.show) .modal-dialog {
    transform: scale(0.1);
    opacity: 0;
}